
	<script src="/assets/javascripts/about.js"></script>

 <div class="maincontainer"> 
	<div class="submenu">
			<div class="smenu"><a id="button1" href="#" class="barath" tabindex="1">About Us</a></div>
			<div class="smenu"><a id="button2" href="#" tabindex="2" >About School</a></div>
			<div class="smenu"><a id="button3" href="#" class="qwerty" tabindex="3">About Teachers</a></div>
			<div class="smenu"><a id="button4" href="#" tabindex="4">About Manager</a></div>
			
		</div>
  <div class="arcon">
 
	<div class="aboutus" id="aboutus">
	<h3>About Us</h3>
	<hr>
	<p>In 2000 , Kalamandalam Anjali Sunil founded a school for Classical Bharatanatyam, dance in Ernakulam located at Kothamangalam and the institute  is affiliated to kerala sangeetha nadaka academy.She trains 300 students in Bharatanatyam, Mohini Attam and other forms of dances. Her students are participating in the CBSE State school kalotsavam &  Kerala state School kalotsavam.
	</p>
	</div>
	
	<div class="school" id="school">
	<h3>About School</h3>
	<hr>
	<p>
	Students receive sound training in the practice and theory of several classical dance styles from India namely Bharathanatyam,Kuchipudi and Mohiniattam.Students  also receive training in semi- classical and folk dancing.Natyanjali is dedicated to promoting Indian dance in keeping with the strict traditions of these ancient arts.The mission of our institution is to provide dance training of the highest quality while keeping tuition costs low thereby enabling all interested children and adults to learn these ancient art forms from india.
	</p>
	</div>
	
	<div class="teacher" id="teacher">
	<h3>About Teachers</h3>
	<hr>
	<p>
	Kalamandalam Anjali Sunil  as a dance teacher for the last fifteen  years harmonize the victory of buds  in the temple “ Natyanjali”.  is able to update and rejuvenate her knowledge, which is very essential in any teaching activity. One of the distinct features of Kalamandalam Anjali Sunil’s teaching method is the creation of an intensive learning environment where the students can closely interact, meditate, encourage and discipline each other, discovering their individual interpretations and performing styles instead of blindly copying some "standard" dancer's movements and manners. The emphasis is to invoke the natural talent of the individual and urge to bring out the innate creative ability.
	</p>
	</div>
	<div class="manager" id="manager">
	<h3>About Manager</h3>
	<hr>
	<p>Natyanjali  evolves and grows, when Mr. Sunil M C, a life partner of the “guru” Kalamandalam Anjali Sunil  plays an integral part in its successful growth as a manager. He organize and plan the changes needed and then use leadership skills to inspire the artists  to embrace it. He serving as a figurehead and  also help  to  relate a positive association of his attitude  to the image of the Natyanjali. He brings this  by building a positive rapport with the students, parents n public. He is the backbone of Natyanlali and  reinforces the mission and vision of  the institute since the birth. 
	</p>
	</div>
 </div>
</div>

