<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="CoffeeCup HTML Editor (www.coffeecup.com)">
    <meta name="dcterms.created" content="Thu, 11 Sep 2014 11:22:06 GMT">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="newstyle.css" ></link>-->
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/home.css" ></link>
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/classes.css" ></link>
	<!-- <link rel="stylesheet" type="text/css" href="js-image-slider.css" ></link> -->
	
    </head>
  <body>
  <div style="position: relative;" id="navg" class="navigation">
  <div class="logo">
  
  </div>
	
<div style="top: 103px;" id="shdw" class="shdw"></div>
</div>
	<div class="serachmenucontainer" style="position: relative;">
 <div class="samplemenu">
	
	<div class="menu"><li class="unli"><a href="/">HOME</a></li></div>
	<div class="menu"><li class="unli"><a href="/expression">EXPRESSION</a></li></div>
	<div class="menu"><li class="unli"><a href="/images">GALLERY</a></li></div>
	<div class="menu"><li class="unli"><a href="#">ENROLLMENT</a></li></div>
	<div class="menu"><li class="unli"><a href="/classes">CLASSES and FEES</a></li></div>
	<div class="menu"><li class="unli"><a href="#">SITE MAP</a></li></div>
	<div class="menu"><li class="unli"><a href="/about">ABOUT US</a></li></div>
	<div class="menu"><li class="unli"><a href="/contact">CONTACT</a></li></div>
</div>    
	</div>
	<div class="maincontainer">
		
		<div class="arcon">
			<div class="arangetamdiv">
				<h3>Arangettam</h3>	
				<hr>
				<p>
					The basic Certificate course conducted at all the branches. In this a student learns the basics of Bharat Natyam and acquires a minimum quality level of a dancer. It is aimed more at creating appreciation and giving sound knowledge base of dance. As part of the training every student performs annually on stage and thus gains confidence at personal level. Here the concentration is on perfecting the technique. The guru has to dedicate considerable time for the one-to-one classes, give special training sessions for the student and conduct several rehearsals with a live orchestra.
				</p>
				
			</div>
			
			
			<div class="arangetamdiv">
				<h3>Fee Structure</h3>	
				<hr>
				<table class="feestable">
						<th>Duration</th><th>Amount</th>
							<tr>
								<td>January to April (4 months)</td>
								<td>Rs:1200/-</td>
							</tr>
							<tr>
								<td>June to December (7 months)</td>
								<td>Rs:2100/-</td>
							</tr>
							<tr>
								<td colspan="2" style="color:green">FEE STRUCTURE: Rs:300/- per month</td>
							</tr>
					</table>
				
			</div>
			
			<div class="arangetamdiv">
				<h3>Classes</h3>
					<hr>
					<ul class="clas">
						<li>Regular Classes are taken on SATURDAY& SUNDAY.</li>
						<li>Special & Competition classes are available on daily evening.</li>
						<li>Mohini Attam classes are offered during the day time.</li>
					</ul>
				<p>Students selected to join Natyanjali must pay the Term Fees on before 10th in the first month of every term and pay the Registration fees on the date of joining.
				</p>
				<p class="note">
				NOTE: There are short-term courses available e.g. 3 months, 6 months, 12 months for outstation candidates.
				</p>
			</div>
			
			<div class="arangetamdiv">
				<h3>Refund Policy</h3>
					<hr>
					<ul class="clas">
						<li >If  student is  prevented from  taking  class  for  medical  or  professional reasons,  credit  is  given  only  if  a  written  statement  from  a  doctor  or  school
						or  employer  accompanies  the  request.                                                                                 </li>
						<li>The director  may  ask  for  additional  information  before  giving credit.</li>
						<li>Credit may be  arranged  only  during  the  student’s return to  class  and  in  the form  of class  tuition.</li>
						<li>No  credit  for  unused  classes  will  apply  for  more  than  one  year from  the  date  of  the  last  attendance.</li>
						<li>Any  problems  due  to  unusual  circumstances  should  be  discussed  with  the  director.</li>
					</ul>
			</div>
		</div>			
	</div>
		
</body>
</html>
