
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>

<script>
function initialize()
{
var mapProp = {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
var map=new google.maps.Map(document.getElementById("googleMap")
  ,mapProp);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="contactconatiner">
		<div class="cont1">
			<div class="contactus">
				<h3>Contact Us</h3>
				<hr>
				<p>
				Natyanjali School of Classical Dances & Music<br>
		Varappetty P.O,Kothamangalam,<br>
		Ernakulam (Dist.), Kerala, India  - 686691<br>
		Email: natyanjalidanceschool@gmail.com<br>
		Ph: +91 9947483003, 9605604004
				
			</p>
			</div>
			<!-- <div class="sitemap" style="width:500px;height:380px;">
			
<h3>Site Map</h3>
			<hr>
			</div> -->
<div class="sitemap" id="googleMap" style="width:500px;height:380px;"></div>

		</div>	
</div>

