
<div class="contactconatiner">
		<div class="cont1">
			<div class="contactus">
				<h3>Contact Us</h3>
				<hr>
				<p>
				Natyanjali School of Classical Dances & Music<br>
		Varappetty P.O,Kothamangalam,<br>
		Ernakulam (Dist.), Kerala, India  - 686691<br>
		Email: natyanjalidanceschool@gmail.com<br>
		Ph: +91 9947483003, 9605604004
				
			</p>
			</div>

<div class="sitemap" id="googleMap" style="width:500px;height:380px;"><img src="https://maps.googleapis.com/maps/api/staticmap?center=Varapetty,Kerala,IN&zoom=13&size=500x380&maptype=roadmap"/></div>
</div>
</div>

