	<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="CoffeeCup HTML Editor (www.coffeecup.com)">
    <meta name="dcterms.created" content="Thu, 11 Sep 2014 11:22:06 GMT">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="newstyle.css" ></link>-->
	<link rel="stylesheet" type="text/css" href="natyanjali.css" ></link>
	<link rel="stylesheet" type="text/css" href="classes.css" ></link>
	<!-- <link rel="stylesheet" type="text/css" href="js-image-slider.css" ></link> -->


<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>

<script>
function initialize()
{
var mapProp = {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
var map=new google.maps.Map(document.getElementById("googleMap")
  ,mapProp);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
    </head>
  <body>
  <div style="position: relative;" id="navg" class="navigation">
  <div class="logo">
  
  </div>
	
<div style="top: 103px;" id="shdw" class="shdw"></div>
</div>
	<div class="serachmenucontainer" style="position: relative;">
 <div class="samplemenu">
	
	<div class="menu"> <a href="/">HOME</a> </div>
	<div class="menu"> <a href="/expression">EXPRESSION</a> </div>
	<div class="menu"> <a href="/images">GALLERY</a> </div>
	<div class="menu"> <a href="">ENROLLMENT</a> </div>
	<div class="menu"> <a href="/classes">CLASSES and FEES</a> </div>
	
	<div class="menu"> <a href="/about">ABOUT US</a> </div>
	<div class="menu"> <a href="/contact">CONTACT</a> </div>
</div>	  
	</div>
<div class="contactconatiner">
		<div class="cont1">
			<div class="contactus">
				<h3>Contact Us</h3>
				<hr>
				<p>
				Natyanjali Schoolof Classical Dances & Music<br>
		Varappetty P.O,Kothamangalam,<br>
		Ernakulam (Dist.), Kerala, India  - 686691<br>
		Email: natyanjalidanceschool@gmail.com<br>
		Ph: +91 9947483003, 9605604004
				
			</p>
			</div>
			<!-- <div class="sitemap" style="width:500px;height:380px;">
			
<h3>Site Map</h3>
			<hr>
			</div> -->
<div class="sitemap" id="googleMap" style="width:500px;height:380px;"></div>

		</div>	
</div>
</body>
</html>
