	<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="CoffeeCup HTML Editor (www.coffeecup.com)">
    <meta name="dcterms.created" content="Thu, 11 Sep 2014 11:22:06 GMT">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title></title>
    <!--<link rel="stylesheet" type="text/css" href="newstyle.css" ></link>-->
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/home.css" ></link>
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/classes.css" ></link>
	<!-- <link rel="stylesheet" type="text/css" href="js-image-slider.css" ></link> -->
	
    </head>
  <body>
  <div style="position: relative;" id="navg" class="navigation">
  <div class="logo">
  
  </div>
	
<div style="top: 103px;" id="shdw" class="shdw"></div>
</div>
	<div class="serachmenucontainer" style="position: relative;">
 <div class="samplemenu">
	
	<div class="menu"><li class="unli"><a href="/">HOME</a></li></div>
	<div class="menu"><li class="unli"><a href="/expression">EXPRESSION</a></li></div>
	<div class="menu"><li class="unli"><a href="/images">GALLERY</a></li></div>
	<div class="menu"><li class="unli"><a href="#">ENROLLMENT</a></li></div>
	<div class="menu"><li class="unli"><a href="/classes">CLASSES and FEES</a></li></div>
	<div class="menu"><li class="unli"><a href="#">SITE MAP</a></li></div>
	<div class="menu"><li class="unli"><a href="/about">ABOUT US</a></li></div>
	<div class="menu"><li class="unli"><a href="/contact">CONTACT</a></li></div>
</div>
	</div>
<div class="contactconatiner">
		<div class="cont1">
			<div class="contactus">
				<h3>Contact Us</h3>
				<hr>
				<p>
				Natyanjali Schoolof Classical Dances & Music<br>
		Varappetty P.O,Kothamangalam,<br>
		Ernakulam (Dist.), Kerala, India  - 686691<br>
		Email: natyanjalidanceschool@gmail.com<br>
		Ph: +91 9947483003, 9605604004
				
			</p>
			</div>
			<div class="sitemap">
			<h3>Site Map</h3>
			<hr>
			</div>
		</div>	
</div>
</body>
</html>
