@media screen and (max-width: 980px) {
.container {
	max-width:98%;}
.main_contentwraper {
	max-width:98%;}
.da-slider {
	width:100%;}
.contentleft_profile {
	width:97% !important;}
#footer {
	max-width:100%;}
.inner_wraper {
	max-width:100%;}
.right, #side {
	max-width:332px;}
.right img {
	max-width:100%;}
.contact_img {
	width:200px;}
}

@media screen and (max-width: 960px) {
.da-slide h2 img {
	width:350px !important;}
.main_contentarea {
	max-width:100%;}
.contentleft {
	width:70% !important;}
.right, #side {
	max-width:20% !important;}
}
@media screen and (max-width: 800px) {
.da-slider {
	height:410px;}
.da-slide .da-img {
	position: inherit !important;}
/*.da-slide h2 {
	display:none;}*/
.da-slide h2 img {
	width: 250px !important;}
.da-img img {
	width:205px;}
.da-slide .da-img p {
	font-size:12px;}
.contentleft {
	width:65% !important;}
.profile_pic {
	display:none;}
.contact_wraper {
	max-width:100%;}
.banner {
	width:100%;}
.banner img {
	width:100%;}
.performance_left {
	width:97%;}
.right, #side, .contact_img  {
	display:none !important;}

.top_wrpr .right {
	display:block !important;
	min-width:118px;}
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 720px) {
.contentleft {
	width:97% !important;}
.contentright {
	display:none;}
#video {
	margin:0px 2px 4px 2px;}
#photo {
	margin:0px 2px 4px 2px;}
}
@media screen and (max-width: 640px) {
#inner_choreography {
	max-width:100%;}
.inner_head img {
	max-width:324px;}
.press_reviews {
	max-width:100%;}
#video_wraper {
	max-width:100%;}
#photo_wraper {
	max-width:100%;}
.performance_left, .contentleft_profile, .contentleft {
	width:96% !important;}
}
@media screen and (max-width: 480px) {
#responsive_slider {
	display:block;}
.da-slider {
	display:none;}
.top_wrpr img {
	max-width:280px;}
.main_contentarea .contentright {
	float:left;
	max-width:447px;}
.contentright {
	display:none;}
#banner-fade {
	margin-left:85px;}
.performance_left, .contentleft_profile, .contentleft {
	width:95% !important;}
.iantz {
	float:none;
	text-align:center;
	width:100%;}
}
@media screen and (max-width: 320px) {
.performance_left, .contentleft_profile, .contentleft {
	width:92% !important;}
.contact_wraper .content {
	max-width:100%;
	font-size:12px;
	font-weight:normal;}
.inner_head img {
	max-width:255px;}
#banner-fade {
	margin-left:8px;}
}

