<div class="container">
<h2>Listing Images</h2>

<%= render_gallery_for @images, original: "image_full", thumbnail: "image_thumb" , title: 'title' %>

<br>

<%= link_to 'New Image', new_image_path %>
</div>
