<div style="position: relative;" id="navg" class="navigation">
<div class="logo"></div>
<div class="logincontainer">
<div class="login">


<!--<form id="loginform" name="loginform">
<input class="text" type="text" placeholder="Username" style="height:30px">
	<input class="text" type="password" placeholder ="Password" style="height:30px">
	 <div class="loginbtn" style="padding-top: 5px">
	<a class="log" href='#'>Login</a></div>
</form>-->

    <%= form_for(:session, url: sessions_path) do |f|  %>
      <%= f.text_field :email, placeholder:"email id" %>
      <%= f.password_field :password, placeholder:"password" %>

      <%= f.submit "Login", class: "loginbtn"%>
    <%end%>


</div>
</div><div style="top: 103px;" id="shdw" class="shdw"></div>
</div>
	<div class="serachmenucontainer" style="position: relative;">
 <div class="samplemenu">
	
	<div class="menu"> <a href="/">HOME</a> </div>
	<div class="menu"> <a href="/expression">EXPRESSION</a> </div>
	<div class="menu"> <a href="/images">GALLERY</a> </div>
	<div class="menu"> <a href="">ENROLLMENT</a> </div>
	<div class="menu"> <a href="/classes">CLASSES and FEES</a> </div>
	
	<div class="menu"> <a href="/about">ABOUT US</a> </div>
	<div class="menu"> <a href="/contact">CONTACT</a> </div>
</div>	  
	</div>
